:root {
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e2f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #905ad4 0%, #3330a5 100%);
  width: 100%;
  max-width: 420px;
  border-radius: 15px;
  padding: 25px 20px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

form input {
  flex: 1;
  border-radius: 50px;
  padding: 12px 18px;
  border: 3px solid #7f3bd3;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  background-color: #f3f3f3;
  color: #333;
}

form button {
  background-color: #ecddff;
  border: none;
  padding: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

form button:hover {
  background-color: #ff98fdb9;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info img {
  margin: 20px 0 10px;
  width: 100px;
}

.degree {
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  line-height: 1;
}

.degree .icon-c {
  font-size: 3rem;
  margin: 0;
  display: inline-block;
}

.city {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5px;
}

.summary {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 25px;
  width: 100%;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.left p,
.right p {
  margin: 0;
  font-size: 1rem;
  font-weight: 450;
}

.icon {
  font-size: 2.9rem;
  color: #fff;
}

.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-result {
  font-size: 1.1rem;
  font-weight: bold;
}
